<div class="mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            Từ khóa 
            <input type="text" name="fullname" placeholder="Họ tên">
            <input type="text" name="age" placeholder="Mấy tuổi?"> 
        </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Search</label>
    <input type="search-input" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll share your email with everyone.</div>
  </div>

  <div class="form-group">
    <label for="gender-input">Từ khóa</label>
    <select name="gender" class="form-control" id="gender-input">
        <option value="">-- Chọn giới tính </option>
        <option value="meo">Nam</option>
        <option value="phí meo">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>